{% include 'ourforum/base_site.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load account %}
{% load lbforum_filters %}
{% load lbforum_tags %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'ourforum/styles/v2ex/default.css' %}"/>
 <div class="box">
    <div class="cell">
{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Account Inactive" %}</h1>
<p>{% trans "Please go to the registered mailbox to activate the account." %}</p>
<p>{% trans "This account is inactive." %}</p>
{% endblock %}
  </div> </div>