<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load lbutils %}

{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}/>
{% endblock %}
  <head>
     <link rel="shortcut icon" href="/static/admin/img/favicon.ico">
<link rel="stylesheet" href="/static/ourforum/styles/v2ex/default.css"/>
    <!--<link rel="bookmark"  type="image/x-icon"  href="./imgs/favicon.ico"/>-->


    <title>
      {% get_setting "OURFORUM_TITLE" %}
      -
      {% get_setting "OURFORUM_SUB_TITLE" %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% include 'ourforum/inc_styles.html' %}
    {% block extra_header %}{% endblock %}
  </head>

  <body>

    {% block content %} {% endblock %}
    {% block footer_js %} {% endblock %}
  <!--回到顶部-->
   <!--<div id="back-to-top" class="red" data-scroll="body" style="top:-46px;color:red;">回到顶部 </div>-->
      <!--<script src="jquery-1.12.4.js"></script>-->
  <!--<script type="text/javascript" src="home.js"></script>-->
  </body>
</html>
